
@media only screen and (max-width:479px){
.body {
  font-family: Arial;
  font-size:100%;
  width: 96%;
  background-color:LightGray;
}

#mainHeader{
  font-size: 3.25em;
}

#formHeader{
  padding: 0;
  margin:0;
  font-size:1.25em;
}

.form-text {
  font-size:.8em;
  margin:1.5%;
}

.form {
  background-color: LightSeaGreen;
  border: 3px solid black;
  width: 98%
  text-align: center;
  padding: 1.20%;
  margin: 1.20%;
}

}

@media only screen and (min-width:480px){
.body {
  font-family: Arial;
  font-size:100%;
  width: 96%;
  background-color:LightGray;
}

#mainHeader{
  font-size: 3.25em;
}

#formHeader{
  padding: 0;
  margin:0;
  font-size:1.25em;
}

.form-text {
  font-size:.8em;
  margin:1.5%;
}

.form {
  background-color: LightSeaGreen;
  border: 3px solid black;
  width: 50%;
  text-align: center;
  padding: 1.20%;
  margin: 1.20%;
}

}

@media only screen and (min-width:768px){
.body {
  font-family: Arial;
  font-size:100%;
  width: 96%;
  background-color:LightGray;
}

#mainHeader{
  font-size: 3.25em;
}

#formHeader{
  padding: 0;
  margin:0;
  font-size:1.25em;
}

.form-text {
  font-size:.8em;
  margin:1.5%;
}

.form {
  background-color: PaleVioletRed;
  border: 3px solid black;
  width: 30%;
  text-align: center;
  padding: 1.20%;
  margin: 1.20%;
}

}

@media only screen and (min-width:960px){
.body {
  font-family: Arial;
  font-size:100%;
  width: 96%;
  background-color:LightGray;
}

#mainHeader{
  font-size: 3.25em;
}

#formHeader{
  padding: 0;
  margin:0;
  font-size:1.25em;
}

.form-text {
  font-size:.8em;
  margin:1.5%;
}

.form {
  background-color: PaleVioletRed;
  border: 3px solid black;
  width: 20%;
  text-align: center;
  padding: 1.20%;
  margin: 1.20%;
}

}
